.landing-main {
  height: 98vh;
  width: 100vw;
  background-image: url("../assets/landing-bg.jpg");
  max-width: 100%;
  overflow-x: hidden;
  background-size: auto 170%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.glass-container {
  color: aliceblue;
  width: 250px;
  height: 340px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px auto;
  position: relative;
  z-index: 1;

  box-shadow: 6px 6px 0px 2px rgba(255, 255, 255, 0.47);
  font-size: 25px;
  opacity: 0;
  transform: translateY(-50px) skew(318deg, 192deg);
  animation: fadeInAndSlide 0.8s ease-in-out forwards;
}

.glass-container:first-child {
  margin-bottom: -566px;
}

.glass-container:nth-child(2) {
  animation-delay: 0.35s;
}

.glasses {
  padding: 78px;
  margin-right: 17px;
}

.icon {
  margin-top: 20px;
  height: 100px;
  width: 45%;
}

.app-name {
  color: aliceblue;
  font-size: 50px;
  margin-left: 5vw;
}

@keyframes fadeInAndSlide {
  from {
    opacity: 0;
    transform: translateY(-50px) skew(318deg, 192deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) skew(318deg, 192deg);
  }
}

@media (max-width: 1000px) {
  .glass-container {
    width: 180px;
    height: 240px;
    font-size: 18px;
  }

  .glass-container:first-child {
    margin-bottom: -460px;
  }

  .glasses {
    padding: 50px;
  }

  .icon {
    height: 60px;
  }
}

@media (max-width: 720px) {
  .glass-container {
    width: 85px;
    height: 110px;
    font-size: 8px;
    box-shadow: 6px 6px 0px -1.5px rgba(255, 255, 255, 0.47);
    border-radius: 7px;
  }

  .glass-container:first-child {
    margin-bottom: -255px;
  }

  .glasses {
    padding: 0px;
  }

  .icon {
    height: 25px;
  }

  .glass-temp {
    font-size: 15px;
  }

  .app-name {
    font-size: 23px;
    margin-right: 10px;
  }
}
