h2 {
  text-align: center;
}

.week-weather {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 10vw;
  margin-right: 10vw; */
}

.card {
  padding: 0.7vw;
  text-align: center;
}

.info-body {
  border-radius: 16px;
  height: 36.3vh;
  background-color: #89abbf78;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Clouds > .card > .info-body,
.Haze > .card > .info-body {
  background-color: rgba(0, 0, 0, 0.452);
}

.Clear > .card > .info-body {
  background-color: #89abbf78;
}

.avg-temp {
  font-size: 2.5vw;
  margin-bottom: -25px;
}

img {
  width: 60%;
}

.temps {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.high {
  font-size: 2vw;
  padding-right: 13px;
}

.low {
  font-size: 1.6vw;
}

@media (max-width: 1000px) {
  .info-body {
    width: 12vw;
  }
  /* .week-weather {
    margin-right: 8vw;
  } */
}

@media (max-width: 720px) {
  .info-body {
    width: 70vw;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
  }
  .week-weather {
    flex-direction: column;
  }
  .week-weather:last-child {
    margin-bottom: 35px;
  }
  img {
    height: 3vh;
    width: auto;
  }
  .card {
    padding: 0px;
    text-align: left;
  }
  .avg-temp {
    margin: 0px;
  }
}

@media (max-width: 320px) {
  .week-weather {
    padding-left: 5.5vw;
  }
}
