body {
  margin: 0;
  padding: 0;
}

.app-body {
  background-image: url("./assets/sunny.jpg");
  background-size: auto 170%;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(218, 236, 247);
  max-width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0px 0px 1.5vh 0px;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.city-weather-container {
  display: flex;
  border-radius: 11px;
  width: 80vw;
  margin: 3vh 0 5vh 0;
  height: 25vh;
  align-items: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.308);
  box-shadow: 1px 1px 17px 1px rgba(255, 255, 255, 0.555);
  flex-direction: column;
}

.location-temp {
  padding-left: 30px;
}

.location-info {
  padding-right: 30px;
  text-align: end;
}

.big-text {
  font-size: max(2.3vw, 36px);
  font-weight: bold;
}

.search-result {
  background-color: aliceblue;
  color: black;
  display: flex;
  width: 96%;
  padding: 5px;
  position: relative;
}

.search-result:last-child {
  border-radius: 0px 0px 10px 10px;
}

.search-result-container {
  position: absolute;
  width: 250px;
  z-index: 2;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-and-submit {
  display: flex;
  box-shadow: 10px 5px 18px 1px rgba(0, 0, 0, 0.644);
}

.search-and-submit > input {
  border: none;
  padding: 10px;
}

.search-and-submit > button {
  border: none;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.Clear-current {
  background-color: #89abbf78;
  box-shadow: 1px 1px 17px 1px rgba(255, 255, 255, 0.945);
}

.modal {
  height: 45vh;
  color: white;
  position: absolute;
  width: 60vw;
  margin-top: -20vh;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.856);
  box-shadow: 1px 1px 17px 1px rgba(255, 255, 255, 0.555);
  transform: translateY(-25px);
  animation: fade 0.3s ease-in-out forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 1.6vw;
  color: rgb(221, 216, 216);
}

.data {
  font-weight: bold;
  font-size: 2vw;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.Clear-modal {
  background-color: #8bb0c5;
  box-shadow: 1px 1px 17px 1px rgba(255, 255, 255, 0.945);
}

.day-name {
  font-size: 1.8vw;
}

.main-bot {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-size: 23px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.city-nav {
  display: flex;
  list-style: none;
}

li {
  margin: 4.5vw;
  margin-bottom: 2vw;
  text-shadow: rgba(0, 0, 0, 0.623) 3px 3px 5px;
}

li:hover {
  cursor: pointer;
}

li:last-child {
  margin-right: 25vw;
}
