body {
  background-image: url("./assets/storm.jpg");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: rgb(218, 236, 247);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.city-weather-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 11px;
  width: 80vw;
  justify-content: space-between;
  margin: 3vh 0 5vh 0;
  height: 25vh;
  align-items: center;
  font-size: 20px;
  box-shadow: 1px 1px 17px 1px rgba(255, 255, 255, 0.555);
}

.location-temp {
  padding-left: 30px;
}

.location-info {
  padding-right: 30px;
  text-align: end;
}

.big-text {
  font-size: 2.3vw;
  font-weight: bold;
}

.week-weather {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 1.2vw;
  text-align: center;
}

.info-body {
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 16px;
  height: 40vh;
  width: 10vw;
}
